<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="welcome">
        <nav>
            <img src="https://s2.loli.net/2022/04/20/SmwNlgUDvoeX49Y.png" alt="icon" style="width: 50px; margin-right: 30px; margin-left: 100px"/>
            <h1>Safe Hotel Booking</h1>
            <div class="switchButton">{% block switchPage %}{% endblock %}</div>
        </nav>

        <div class="welcomeContent">
            {% block welcomeContent %}{% endblock %}
        </div>

        {% block backgroundImage %}{% endblock %}
    </div>

    <section class="app">
        <div class="home">
            <div class="searchBar" id="search">
                {% block searchBar %}{% endblock %}
            </div>

            <div class="content">
                <div class="left">
                    {% block leftContent %}{% endblock %}
                </div>

                <div class="right">
                    {% block rightContent %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="bottom">
            {% block bottomContent %}{% endblock %}
        </div>
    </section>
</body>
</html>